<div class="form-div">
  <form [formGroup]="updateUserForm">
      <ion-item>
	<label for="CurrentPassword" position="floating">Current</label>
        <input type="password" formControlName="pass" class="defaut-input" required>
      </ion-item>
      <ion-item>
	<label for="NewPassword">New<span style="font-size:11px">(8 num)</span></label>
        <input type="password" formControlName="newpass" class="defaut-input" required>
      </ion-item>
      <ion-item>
	<label for="ConfirmNewPassword">Confirm</label>
        <input type="password" formControlName="confirmnewpass" class="defaut-input" required>
      </ion-item>
      <ion-button expand="full" (click)="onUpdate()" [disabled]="updateUserForm.invalid">Update</ion-button>
    </form>
</div>




