.pad-container{
    width: 100vw;
//    height: 70vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
}

.row-pad{
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 10%;
}

.pad-number{
    font-size: 20px;
    cursor: pointer;
    color: white;
    background: transparent;
}


