<div class="pad-container">
  <ion-row class="row-pad">
    <ion-col class="col-number number-onside">
      <button class="pad-number"  (click)="set1()">1</button>
    </ion-col>
    <ion-col class="col-number">
      <button class="pad-number" (click)="set2()">2</button>
    </ion-col>
    <ion-col class="col-number number-onside">
      <button class="pad-number" (click)="set3()">3</button>
    </ion-col>
  </ion-row>
  <ion-row class="row-pad">
    <ion-col class="col-number number-onside">
      <button class="pad-number" (click)="set4()">4</button>
    </ion-col>
    <ion-col class="col-number">
      <button class="pad-number" (click)="set5()">5</button>
    </ion-col>
    <ion-col class="col-number number-onside">
      <button class="pad-number" (click)="set6()">6</button>
    </ion-col>
  </ion-row>
  <ion-row class="row-pad">
    <ion-col class="col-number number-onside">
      <button class="pad-number" (click)="set7()">7</button>
    </ion-col>
    <ion-col class="col-number">
      <button class="pad-number" (click)="set8()">8</button>
    </ion-col>
    <ion-col class="col-number number-onside">
      <button class="pad-number" (click)="set9()">9</button>
    </ion-col>
  </ion-row>
  <ion-row class="row-pad">
    <ion-col class="col-number number-onside">
      <button class="pad-number" (click)="setBackspace()">
	<ion-icon name="backspace-outline"></ion-icon>
      </button>
    </ion-col>
    <ion-col class="col-number">
      <button class="pad-number" (click)="set0()">0</button>
    </ion-col>
    <ion-col class="col-number number-onside">
      <button class="pad-number switch-button" (click)="setPoint()"></button>
    </ion-col>
  </ion-row>
</div>
