.form-div{
    height: 100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    margin: 0 3%
}


.defaut-input{
    background: transparent;
    border: none;
    padding: 3%
}

