



<ion-grid class="grid-item">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)">
    <ion-row  class="row-grid-items">
      <ion-col>
	<ion-input   name="total" (ionChange)="submitButton.attributes['disabled'].value='false'" class="input-wallet iw1" [(ngModel)]="inputCurrency">{{symbolCurrency}}</ion-input>
      </ion-col>
      <ion-col>
	<select [(ngModel)]="currency" name="currency" class="input-wallet iw2">
            <option class="usd">USD</option>
            <option class="eur">EUR</option>
	</select>
      </ion-col>
    </ion-row>
    <ion-row class="bottom">
      <select class="input-wallet iw3" (click)="selectOption()">
	<option class="opt0">Total cryptos according to</option>
	<option class="opt1">Popularity</option>
	<option class="opt2">Tops 24H</option>
	<option class="opt3">Flops 24H</option>
      </select>
    </ion-row>
  </form>
  
  <app-pad [getButtonText]="buttonText" [inputFromParent]="inputCurrency" (inputToParent)="dataFromChild($event)"></app-pad>
  
  <div class="wrapped-button">
  </div>
  <!--faire du bouton un composant réutilisable et l'inclure ici à la place du wrap button-->
  
<!--  
  <app-modal-list style="visibility:hidden" (symbolToParent)="symbolFromChild($event)"[selectSimulator]="selectSimulator" [inputCurrency]="inputCurrency" [symbolCurrency]="symbolCurrency" [currency]="currency"></app-modal-list>
    <app-modal1 style="visibility:hidden" (symbolToParent)="symbolFromChild($event)"[selectSimulator]="selectSimulator" [inputCurrency]="inputCurrency" [symbolCurrency]="symbolCurrency" [currency]="currency"></app-modal1>
  <app-modal2 style="visibility:hidden" (symbolToParent)="symbolFromChild($event)"[selectSimulator]="selectSimulator" [inputCurrency]="inputCurrency" [symbolCurrency]="symbolCurrency" [currency]="currency"></app-modal2>
-->
</ion-grid>
  




