<div class="pin-required-container">
  <app-pin-circles  [colorFromParent]="color" [compteurFromParent]="compteur" [backspaceFromParent]="backspaceCompteur"></app-pin-circles>
<app-pad (inputToParent)="dataFromChild($event)" (colorToParent)="colorFromChild($event)" (compteurBackspaceClick)="backspaceFromChild($event)" (compteurClick)="compteurFromChild($event)" (clickOk)="okPinFromChild($event)" [inputFromParent]="pin" [getButtonText]="buttonText"></app-pad>
</div>

<!--(initColorIndicator)="colorIndicatorFromChild($event)"
 -->
