.full-width-container{
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
}

.circles-container{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

